.tournamentButton {
    background-color: #999999aa;
    border: 0;
    border-radius: 4px;
    font-size: 24px;
    width: 150px;
}

.tournamentButton:hover {
    background-color: #777777aa;
}

.tournamentButton:active {
    background-color: #aaaaaaaa;
}

@media (prefers-color-scheme: dark) {
    .tournamentButton {
        background-color: #585858aa;
    }

    .tournamentButton:hover {
        background-color: #808080aa;
    }
    
    .tournamentButton:active {
        background-color: #444444aa;
    }
}